<%- include('../partials/header') %>
<main style="background-color: ivory; background-image: none;">
  <% if (restaurantMongo) { %>
  <div id="yumyum-reviews-div">
    <h1>Yum Yum Reviews</h1>
    <% if (restaurantMongo.reviews.length) { %>
    <table id="yumyum-reviews-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% restaurantMongo.reviews.forEach(function(r) { %>
        <tr>
          <td class="review-user">
            <div><img src="<%= r.userAvatar %>" alt="avatar" referrerpolicy="no-referrer" class="review-avatar">
              <%= r.userName %>
            </div>
          </td>
          <td>
            <%= r.createdAt.toLocaleDateString() %>
          </td>
          <td>
            <%= r.content %>
          </td>
          <td>
            <div class="restaurant-rating">
              <% for (let i=0; i < Math.floor(r.rating); i++) { %>
              <img src="https://i.imgur.com/Sgsr2tn.png" alt="full star">
              <% } %>
              <% if (r.rating % 1 !==0) { %>
              <img src="https://i.imgur.com/pMtM41j.png" alt="half star">
              <% } %>
            </div>
          </td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
            <a href="/restaurants/<%= restaurant.id %>/reviews/<%= r._id %>/edit" id="edit-review">Edit</a>
            <form action="/restaurants/<%= restaurant.id %>/reviews/<%= r._id %>?_method=DELETE" method="POST">
              <button type="submit" id="delete-review">X</button>
            </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h3>No Reviews Yet</h3>
    <% } %>
  </div>
  <% } else { %>
  <h1>Sorry, the restaurant could not be found</h1>
  <p>
    <%= error %>
  </p>
  <% } %>
</main>

<%- include('../partials/footer') %>