<%- include('../partials/header') %>

    <section id="restaurants-results" style="margin-top: 13vmin;">
        <ol class="restaurant-list">
            <h1>My Favorite Restaurants</h1>
            <% restaurants.forEach(function(r) { %>
                <li class="restaurants">
                    <img class="restaurants-image" src="<%= r.image_url %>" alt="<%= r.name %>">
                    <div class="restaurants-info">
                        <h2><a href="/restaurants/<%= r.id %>">
                                <%= r.name %>
                            </a></h2>
                        <div class="restaurant-rating">Yelp rating:
                            <div>
                                <% for (let i=0; i < Math.floor(r.rating); i++) { %>
                                    <img src="https://i.imgur.com/Sgsr2tn.png" alt="full star">
                                    <% } %>
                                        <% if (r.rating % 1 !==0) { %>
                                            <img src="https://i.imgur.com/pMtM41j.png" alt="half star">
                                            <% } %>
                            </div>
                        </div>
                        <div class="restaurant-info" style="justify-content: flex-start; margin-left: 0;">
                            <div class="restaurant-price" style="background-color: gray;">
                                <%= r.price %>
                            </div>
                            <div class="restaurant-categories">
                                <% r.categories.forEach(function(category) { %>
                                    | <%= category.title %>
                                        <% }); %>
                            </div>
                        </div>
                        <div class="restaurant-info"
                            style="justify-content: flex-start; margin-left: 0; align-items: flex-start; margin-top: 0;">
                            <%= r.city %>,<%= r.state %>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ol>

        <%- include('../partials/footer') %>