<%- include('../partials/header') %>

<h1>Restaurant List</h1>
<ol class="restaurant-list">
  <% pageRestaurants.forEach(function(r) { %>
    <li class="restaurants">
        <img class="restaurants-image" src="<%= r.image_url %>" alt="<%= r.name %>">
        <div class="restaurants-info">
            <h2><a href="/restaurants/<%= r.id %>"><%= r.name %></a></h2>
            <div class="restaurant-rating">Yelp rating: 
              <% for (let i = 0; i < Math.floor(r.rating); i++) { %>
              <img src="https://i.imgur.com/Sgsr2tn.png" alt="full star">
              <% } %>
              <% if (r.rating % 1 !== 0) { %>
              <img src="https://i.imgur.com/pMtM41j.png" alt="half star">
              <% } %>
            </div>
            <p>
              
            </p>
            <p><%= r.rating %></p>
        </div>
    </li>
  <% }); %>
</ol>
<ul class="pages">
  <% if (hasPrevPage) { %>
    <li>
      <a href="/restaurants/?term=<% term %>&location=<%= location %>&page=<%= currentPage-1 %>"><<</a>
    </li>
  <% } %>
  <% for (let i = 1; i <= numOfPages; i++) { %>
    <li>
      <a href="/restaurants/?term=<% term %>&location=<%= location %>&page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
    </li>
  <% } %>
  <% if (hasNextPage) { %>
    <li>
      <a href="?term=<% term %>&location=<%= location %>&page=<%= currentPage+1 %>">>></a>
    </li>
  <% } %>
</ul>

<%- include('../partials/footer') %>