<%- include('../partials/header') %>

<h1>Restaurant List</h1>
<ol class="restaurant-list">
  <% pageRestaurants.forEach(function(r) { %>
    <li class="restaurants">
        <img class="restaurants-image" src="<%= r.image_url %>" alt="<%= r.name %>">
        <div class="restaurants-info">
            <h2><a href="/restaurants/<%= r.id %>"><%= r.name %></a></h2>
            <p>Yelp rating: <%= r.rating %></p>
        </div>
    </li>
  <% }); %>
</ol>
<ul class="pages">
  <% if (hasPrevPage) { %>
    <li>
      <a href="/restaurants/?term=<% term %>&location=<%= location %>&page=<%= currentPage-1 %>"><<</a>
    </li>
  <% } %>
  <% for (let i = 1; i <= numOfPages; i++) { %>
    <li>
      <a href="/restaurants/?term=<% term %>&location=<%= location %>&page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
    </li>
  <% } %>
  <% if (hasNextPage) { %>
    <li>
      <a href="?term=<% term %>&location=<%= location %>&page=<%= currentPage+1 %>">>></a>
    </li>
  <% } %>
</ul>

<%- include('../partials/footer') %>