<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <style>
         .restaurant-header {
            background-image: url("<%= restaurant.image_url %>");
            background-size: cover;
            background-position: center;
            height: 40vmin;
         }
    </style>
</head>
<body>
    <nav class="menu">
      <a href="/" class="top-menu">HOME</a>
        <% if (user) { %>
            <div class="top-menu"><img src="<%= user.avatar %>" alt="avatar" class="google-avatar"><%= user.name %>
              <nav class="sub-menu">
                <a href="" class="sub-menu-content">Favorite</a>
                <a href="/logout" class="sub-menu-content">LOG OUT</a>
              </nav>
            </div>
          <% } else { %>
            <a href="/auth/google" class="login top-menu">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
    <main class="restaurant-content">
        <% if (restaurant) { %>
            <div class="restaurant-header">
                <div class="header-content">
                    <div class="restaurant-name">
                        <%= restaurant.name %>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-rating">
                            <% for (let i = 0; i < Math.floor(restaurant.rating); i++) { %>
                            <img src="https://i.imgur.com/Sgsr2tn.png" alt="full star">
                            <% } %>
                            <% if (restaurant.rating % 1 !== 0) { %>
                            <img src="https://i.imgur.com/pMtM41j.png" alt="half star">
                            <% } %>
                        </div>
                        <div class="restaurant-review-count">
                            (<%= restaurant.review_count %> reviews)
                        </div>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-price">
                            <%= restaurant.price %>
                        </div>
                        <div class="restaurant-categories">
                            <% restaurant.categories.forEach(function(category) { %>
                                | <%= category.title %>
                            <% }); %>
                        </div>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-open">
                            <% if (restaurant.hours[0].is_open_now) { %>
                                Open now
                            <% } else { %>
                                Closed now 
                            <% }; %>
                        </div>
                        <div class="restaurant-today-hours">
                            <% if (restaurant.hours[0].is_open_now) { %>
                                  <%= formatTime(restaurant.hours[0].open[new Date().getDay()].start) %> to 
                                  <%= formatTime(restaurant.hours[0].open[new Date().getDay()].end) %>
                              <% } %>
                        </div>
                        <% 
                            function formatTime(time) {
                                let formattedTime = '';
                                let hours = parseInt(time.slice(0, 2));
                                let minutes = time.slice(2, 4);
                                let period = 'AM';
                                if (hours >= 12) {
                                period = 'PM';
                                hours -= 12;
                                }
                                if (hours === 0) {
                                hours = 12;
                                }
                                formattedTime = hours + ':' + minutes + ' ' + period;
                                return formattedTime;
                            }
                        %>
                    </div>
                </div>
            </div>
            <section class="restaurant-main">
                <div class="restaurant-hours">
                    <p>Opening hours:</p>
                    <ul>
                      <% let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
                      <% for (let i = 0; i < 7; i++) { %>
                        <li><%= days[i] %>: 
                          <%= formatTime(restaurant.hours[0].open[i].start) %> to 
                          <%= formatTime(restaurant.hours[0].open[i].end) %>
                        </li>
                      <% } %>
                    </ul>
                </div>
                <div class="restaurant-location">
                    <p>Location: </p><br>
                    <% for (let i = 0; i < restaurant.location.display_address.length; i++) { %>
                        <%= restaurant.location.display_address[i] %><br>
                    <% } %>
                </div>
                <div>
                    Google Map
                </div>
            </section>

        <% } else { %>
            <h1>Sorry, the restaurant could not be found</h1>
            <p><%= error %></p>
        <% } %>
    </main>



<%- include('../partials/footer') %>