<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <style>
        body {
            height: auto;
        }
         .restaurant-header {
            background-image: url("<%= restaurant.image_url %>");
            background-size: cover;
            background-position: center;
            height: 40vmin;
         }
         body > main {
            background-image: none;
         }
    </style>
</head>
<body>
    <nav class="menu">
        <a href="/" class="top-menu"><img src="https://i.imgur.com/Yzv8KHw.png" alt="logo" class="logo"></a>
        <form class="search-bar" action="/restaurants" method="GET">
            <input type="text" placeholder="Restaurants, categories" name="term">
            <input type="text" placeholder="Location (required)" required name="location">
            <button type="submit">Search</button>
        </form>
        <% if (user) { %>
            <div class="top-menu"><img src="<%= user.avatar %>" alt="avatar" class="google-avatar"><%= user.name %>
              <nav class="sub-menu">
                <a href="" class="sub-menu-content">Favorite</a>
                <a href="/logout" class="sub-menu-content">LOG OUT</a>
              </nav>
            </div>
          <% } else { %>
            <a href="/auth/google" class="login top-menu">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
    <main class="restaurant-content">
        <% if (restaurant) { %>
            <div class="restaurant-header">
                <div class="header-content">
                    <div class="restaurant-name">
                        <%= restaurant.name %>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-rating">
                            <% for (let i = 0; i < Math.floor(restaurant.rating); i++) { %>
                            <img src="https://i.imgur.com/Sgsr2tn.png" alt="full star">
                            <% } %>
                            <% if (restaurant.rating % 1 !== 0) { %>
                            <img src="https://i.imgur.com/pMtM41j.png" alt="half star">
                            <% } %>
                        </div>
                        <div class="restaurant-review-count">
                            (<%= restaurant.review_count %> reviews)
                        </div>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-price">
                            <%= restaurant.price %>
                        </div>
                        <div class="restaurant-categories">
                            <% restaurant.categories.forEach(function(category) { %>
                                | <%= category.title %>
                            <% }); %>
                        </div>
                    </div>
                    <div class="restaurant-info">
                        <div class="restaurant-open">
                            <% if (restaurant.hours[0].is_open_now) { %>
                                Open now
                            <% } else { %>
                                Closed now 
                            <% }; %>
                        </div>
                        <div class="restaurant-today-hours">
                            <% if (restaurant.hours[0].is_open_now) { %>
                                <% for (let i = 0; i < restaurant.hours[0].open.length; i++) { %>
                                    <% if (restaurant.hours[0].open[i].day === new Date().getDay()) { %>
                                        <%= formatTime(restaurant.hours[0].open[i].start) %> to 
                                        <%= formatTime(restaurant.hours[0].open[i].end) %>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <section class="restaurant-main">
                <div class="restaurant-hours">
                    <table>
                        <thead>
                            <tr>
                              <th>Day</th>
                              <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
                            <% let openDays = [] %>
                            <% let dayIndexMap = {} %>
                            <% restaurant.hours[0].open.forEach(function(open) { %>
                                <% if (openDays.includes(open.day)) { %>
                                    <% dayIndexMap[open.day].push(open) %>
                                <% } else { %>
                                    <% openDays.push(open.day) %>
                                    <% dayIndexMap[open.day] = [open] %>
                                <% } %>
                            <% }) %>
                            <% for (let i = 0; i < days.length; i++) { %>
                                <tr>
                                    <td><%= days[i] %>: </td>
                                    <% if (openDays.includes(i)) { %>
                                        <% let dayOpen = dayIndexMap[i] %>
                                    <td>
                                        <% for (let j = 0; j < dayOpen.length; j++) { %>
                                        <%= formatTime(dayOpen[j].start) %> to 
                                        <%= formatTime(dayOpen[j].end) %>
                                        <% if (j < dayOpen.length - 1) { %>
                                            <br>
                                        <% } %>
                                        <% } %>
                                    <% } else { %>
                                        <td>Closed</td>
                                    <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="restaurant-location">
                    <table>
                        <tbody>
                            <tr><th>Location: </th></tr>
                            <tr>
                                <td>
                                    <% for (let i = 0; i < restaurant.location.display_address.length; i++) { %>
                                        <%= restaurant.location.display_address[i] %><br>
                                    <% } %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                            <tr><th>Phone Number:</th></tr>
                            <tr><td><%= restaurant.display_phone %></td></tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>Google Map</p>
                </div>
            </section>
        <div>
            <h1>Reviews</h1>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
            <p>yelp</p>
        </div>

        <% } else { %>
            <h1>Sorry, the restaurant could not be found</h1>
            <p><%= error %></p>
        <% } %>
    </main>



<%- include('../partials/footer') %>